
img {
    width: 100%;
    height: auto;
}

header {
position: relative;
}
h2.slid-txt {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: left;
    color: #fff;
    text-shadow: 1px 1px 2px #8a8484;
    font-size: 7rem;
}
.slid-txt span:first-of-type {
    font-size: 2.8rem;
    font-style: italic;
}
h4 {
    font-weight: normal;
}

footer input[type=submit] {
    cursor: pointer;
}
    footer input[type=submit]:hover {
        color: #d0875a;
    }

    .four-boxes h2 {
        color: #fff;
        text-shadow: 1px 1px 2px #7f7171;
    }

a.arrow::after {
    content: " \21d2";
}

.container > .container {
    margin: 70px auto;
    padding: 0;
}
.row.dishes {
    box-shadow: 1px 3px 13px rgba(0,0,0,0.1);
}
    .row div.col-sm-8 {
        padding: 0;
    }
    .menu-box h3, .menu-box p {
        width: 100%;
    }
.menu-box h3 {
    padding-top: 70px;
}
h3 + hr {
    border-bottom: 2px dotted #d0875a ;
}
#my-table {
    margin-top: 35px;
}


@media (max-width: 1024px) {
    h2.slid-txt {
        top: 25%;
        left: 10%;
        font-size: 4.7rem;
    }

    .slid-txt span:first-of-type {
        font-size: 2.4rem;
    }
}
@media (max-width: 850px) {
    nav .menu_bar > a {
        width: 5%;
    }
    nav .menu_bar ul {
        width: 95%;
    }
}
@media (max-width: 650px) {
    nav .menu_bar > a {
        width: auto;
        margin-left: 15px;
    }

    nav .menu_bar ul {
        width: 100%;
    }
    nav .menu_bar ul li {
        padding: 0 10px;
    }
    h2.slid-txt {
        font-size: 3.2rem;
        top: 39%;
    }
    .slid-txt span:first-of-type {
        font-size: 2rem;
    }
    .container > .container {
        margin: 50px auto;
    }
}

@media (max-width: 575px) {
    h2.slid-txt {
        font-size: 2.8rem;
        top: 42%;
    }
    .slid-txt span:first-of-type {
        font-size: 1.6rem;
    }
    .col-sm-4.menu-box {
        order: 2;
    }
    .menu-box h3 {
        padding-top: 25px;
    }
}
